body {
  min-height: 750px;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-default{
	background-color: #b53333 !important;
	border-color: white !important;
}

.navbar-default .navbar-brand {
	color: #FFF;
}
.navbar-default .navbar-brand:hover {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: #faffbd;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FFF;
}
